@import 'partials/reset';
@import 'partials/mixins';
@import 'partials/variables';

body {
  font-size: 14px;
  line-height: 1.6;
  font-family: $crimson;
  background: url("https://www.transparenttextures.com/patterns/grid.png") #170c02;
  color: $silk;
}
h1 {
  font-size: 3rem;
  text-align: center;
  font-family: $amatic;
  color: $sisal;
  @include bp(medium) {
    font-size: 4rem
  }
}
h2 {
  @extend h1;
  font-size: 2rem;
  @include bp(medium) {
    font-size: 3rem
  }
}
article {
  margin-bottom: 2%;
}

.header-hero {
  background: url(../images/brewpic.jpg) no-repeat center center;
  background-size: cover;
  height: 50vh;
  width:100%;
  position: relative;
}
.logo {
  width: 70%;
  position: absolute;
  bottom:0;
  left:15%;
  display: block;
  @include bp(large) {
    bottom:-83px;
  }
}
.logo img {
  animation: rotate 20s linear 2;
}
@keyframes rotate {
  0% {
    transform:rotateX(0deg);
  }
  100% {
    transform:rotateX(359deg);
  }
}

/* Main nav --------------------*/
.nav-main {
  width: 45%;
  position: fixed;
  left:0;
  bottom:5px;
  width:30%;
  z-index: 5;
  @include bp(medium) {
    bottom:inherit;
    top:1%;
  }
}
.nav-main ul {
  width: 60%;
}
.nav-main li {
  color:$kilamanjaro;
  border-radius: 0 5px 5px 0;
  margin-bottom: 5%;
  background: $silk;
  text-decoration:none;
  padding:5%;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: $amatic;
  transition: all .3s ease-out;
}
.nav-main li:hover {
  background: $redorange;
  transform: scale(1.2);
  padding-left:15%;
}

.content-main {
  margin:5%;
  margin-top: 0;
  text-align: center;
}
.intro {
  margin-bottom: 1vh;
  @include bp(medium) {
    font-size: 1.5rem;
  }
}
.brews ul{
  background: rgba($westar, 0.5);
  border-radius: 10px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  @include bp(medium) {
    flex-wrap:wrap;
  }
  @include bp(large) {
    flex-wrap: nowrap;
  }
}
.brews li {
  position:relative;
  padding:10px;
  max-width:33%;
  @include bp(medium) {
    max-width: 33%;
  }
  @include bp(large) {
    max-width: 100%;
  }
}
.brews img {
  padding:10% 5%;
  background: rgba($westar, 0.4);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display:block;
}
.brews cite {
  background: rgba($westar, 0.7);
  color: $kilamanjaro;
  display:block;
  border-radius: 10px;
  flex-grow: 1;
}
.brews span {
  display:block;
  background: rgba($westar, 1);
}

.main-flexbox {
  @include bp(large) {
    display: flex;
    justify-content: flex-end;
  }
}
.contact-form {
  @include bp(large) {
    flex-grow: 2;
    margin-left: 6%;
  }
}
.contact-form form {
  background: $westar;
  border-radius: 10px;
  text-align: right;
  padding: 6% 30%;
  padding-left: 0;
}

/*Social media nav menu----------*/
.social-media {
  bottom:5px;
  position: fixed;
  right:0;
  width:100%;
  background: rgba($westar, 0.65);
  @include bp(medium) {
    bottom:inherit;
    top: 0;
  }
}
.social-media ul {
  display: flex;
  align-content: space-around;
  justify-content: center;
  margin-left: 50%;
  @include bp(medium) {
    margin-left: 80%;
  }
}
.social-media li {
  margin: 4% 4%;
  margin-bottom:5px;
  transition: all .3s ease-out;
  width:100%;
}
.social-media li:hover {
  transform: scale(1.5);
}

.main-footer {
  width:100%;
  text-align: right;
  padding:5%;
  margin-bottom: 15%;
  display:block;
  @include bp(medium) {
    margin-bottom:inherit;
    margin-top:inherit;
  }
}
// @media screen and (min-width: 900px) {
//     .brews ul {
//       flex-wrap:nowrap;
//       }
//     .brews li {
//     max-width:100%;
//   }
//   .main-flexbox {
//     display: flex;
//     justify-content: flex-end;
//   }
//   .contact-form {
//     flex-grow: 2;
//     margin-left: 6%;
//   }
//
// }
